version: "3.8"
services:
  yolo:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        L4T_TAG: r32.7.1
    container_name: jetson-yolo-coins
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - INFER_SOURCE=0
      - IMG_SIZE=640
      - CONF_THRES=0.25
      - HALF=1
      - USE_TRT=0
    devices:
      - "/dev/video0:/dev/video0"
    volumes:
      - ./models:/workspace/models
      - ./out:/workspace/out
    restart: unless-stopped
